{"files":[
	{"fields":
		{"cluster":"gus-qa","env":"qa","type":"hbase_regionserver"},
		"paths":["/var/log/java.log"],
		"dropemptyline":true,		
		"multiline":
			{"enable":true,
			 "pattern":"(^\\d+\\serror)|(^.+Exception: .+)|(^\\s+at .+)|(^\\s+... \\d+ more)|(^\\s*Caused by:.+)",
         	 "negate":false,
	         "what":"previous"
			}},
	{"fields":
    	{"cluster":"gus-qa","env":"qa","type":"hbase_regionserver"},
         "paths":["/var/log/singleline.log"]
	}],
  "network":
	{"servers":["localhost:8514"],
     "ssl ca":"/ca.crt",
     "timeout":25}
}
